<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitions</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./player">Player</a></li>
        </ul>
    </nav>
</header>

<section id="Competitions">
    <h1>Welcome to Competitions page</h1>
    <p>This page shows the list of competitions.</p>
</section>

</body>
</html>