{% extends "layout.html" %}
{% block title %}Competitions{% endblock %}
{% block content %}

<section id="Competitions">
    <h1>Welcome to Competitions page</h1>
    <p>This page shows the list of competitions.</p>
</section>

<div class="topnav">
    <form action = ''>
    <input type="text" placeholder="Search Competition">
    <button type="submit"></button>
    </form>    
</div>

<div>
    <h1>Random Competition: {{ random_competition }}</h1>
    <a href="{{ url_for('competitions') }}">Generate Random Thing</a>
</div>
{% endblock %}