{% extends "layout.html" %}
{% block title %}Create Tournament{% endblock %}
{% block content %}
<section id="Competitions">
    <h1>Enter the Name of the Tournament</h1>
</section>
<div class="create_tournament">
    <form method="post", action="{{ url_for('create_tournament') }}">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="id">Competition ID</label>
        <input type="text" id="id" name="id">

        <button type="submit" name="create">Create</button>
    </form>
</div>

{% endblock %}