{% extends "layout.html" %}
{% block title %}Player{% endblock %}
{% block content %}

    <section id="games">
        <h1>Welcome to Our games page</h1>
        <p>This is the games page of Futbalmania</p>
    </section>

    <div class="game_sidebar"> <!--for search of table-->
      <form id="filter_potato">
        <button type="button" class="accordion">Competitions</button>
          <div class="game_list">
              {% for value in game_competitions %}
                <label><input type="checkbox" name="comp" value="{{value[0]}}" {% if value[0] in game_competitions_list %} checked {% endif %} />{{ value[1] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Seasons</button>
          <div class="game_list">
              {% for value in game_season %}
                <label><input type="checkbox" name="game_season" value="{{value[0]}}" {% if value[0]|string in game_season_list %} checked {% endif %} />{{ value[0] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Game Round</button>
          <div class="game_list">
              {% for value in game_rounds %}
                <label><input type="checkbox" name="game_rounds" value="{{value[0]}}" {% if value[0] in game_rounds_list %} checked {% endif %} />{{ value[0] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Clubs</button>
          <div class="game_list">
              {% for value in game_clubs %}
                <label><input type="checkbox" name="game_clubs" value="{{value[0]}}" {% if value[0]|string in game_clubs_list %} checked {% endif %} />{{ value[1] }}</label>
              {% endfor %}
          </div>
          <label>Page: <input type="text" name="page" value="{{page_num}}"/></label>
          <input type="submit" class="search" value="Search" />
      </form>
    </div>

    <table class = "game_table"> <!--This part is placeholder for tables-->
      <tr>
        <th>Competition</th>
        <th>Game Round</th>
        <th>Home Club</th>
        <th>Scores</th>
        <th>Away Club</th>
        <th>Date</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
      {% for value in game_games %}
      <tr>
        <td>{{value[1]}}</td>
        <td>{{value[2]}}</td>
        <td>{{value[3]}}</td>
        <td>{{value[4]}} - {{value[5]}}</td>
        <td>{{value[6]}}</td>
        <td>{{value[7]}}</td>
        <td><input type="submit" class="Details" value="Details" /></td>
        <td><input type="submit" class="Delete" value="Delete" /></td>
      </tr>
      {% endfor %}
    </table>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }

    </script>

{% endblock %}
