{% extends "layout.html" %}
{% block title %}Player{% endblock %}
{% block content %}

    <section id="games">
        <h1>Welcome to Our games page</h1>
        <p>This is the games page of Futbalmania</p>
    </section>

    <div class="game_sidebar"> <!--for search of table-->
        <button class="accordion">elma</button>
          <div class="game_list">
              <label><input type="checkbox" name="1_1"/>easd</label>
              <label><input type="checkbox" name="1_2"/> easd</label>
          </div>
        <button class="accordion">armut</button>
          <div class="game_list">
              <label><input type="checkbox" name="2_1"/>easd</label>
          </div>
        <button class="accordion">patate</button>
          <div class="game_list">
              <label><input type="checkbox" name="3_1"/>easd</label>
          </div>
          <input type="submit" class="search" value="Search" />
    </div>

    <table style="border: 1px solid black;  border-collapse: collapse; text-align: center;"> <!--This part is placeholder for tables-->>
      <tr>
        <td>r1c1</td>
        <td>r2c1</td>
        <td>r3c1</td>
      </tr>
      <tr>
        <td>r1c2</td>
        <td>r2c2</td>
        <td>r3c2</td>
      </tr>
      <tr>
        <td>r1c3</td>
        <td>r2c3</td>
        <td>r3c3</td>
      </tr>
    </table>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script>

{% endblock %}
