{% extends "layout.html" %}
{% block title %}Player{% endblock %}
{% block content %}

    <section id="games">
        <h1>Welcome to Our games page</h1>
        <p>This is the games page of Futbalmania</p>
    </section>

    <div class="game_sidebar"> <!--for search of table-->
      <form id="filter_potato">
        <button type="button" class="accordion">Competitions</button>
          <div class="game_list">
              {% for value in game_competitions %}
                <label><input type="checkbox" name="comp" value="{{value[0]}}" {% if value[0] in game_competitions_list %} checked {% endif %} />{{ value[1] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Seasons</button>
          <div class="game_list">
              {% for value in game_season %}
                <label><input type="checkbox" name="game_season" value="{{value[0]}}" {% if value[0]|string in game_season_list %} checked {% endif %} />{{ value[0] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Game Round</button>
          <div class="game_list">
              {% for value in game_rounds %}
                <label><input type="checkbox" name="game_rounds" value="{{value[0]}}" {% if value[0] in game_rounds_list %} checked {% endif %} />{{ value[0] }}</label>
              {% endfor %}
          </div>
        <button type="button" class="accordion">Clubs</button>
          <div class="game_list">
              {% for value in game_clubs %}
                <label><input type="checkbox" name="game_clubs" value="{{value[0]}}" {% if value[0]|string in game_clubs_list %} checked {% endif %} />{{ value[1] }}</label>
              {% endfor %}
          </div>
          <label>Page: <input type="text" name="page" value="{{page_num}}"/></label>
          <input type="submit" class="search" value="Search" />
      </form>
    </div>

    <table class="game_table"> <!--This part is placeholder for tables - Update: Not anymore -->
      <thead>
        <tr>
          <th>Competition</th>
          <th>Game Round</th>
          <th>Home Club</th>
          <th>Scores</th>
          <th>Away Club</th>
          <th>Date</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="game_table_body">
        {% for value in game_games %}
        <tr>
          <td>{{value[1]}}</td>
          <td>{{value[2]}}</td>
          <td>{{value[3]}}</td>
          <td>{{value[4]}} - {{value[5]}}</td>
          <td>{{value[6]}}</td>
          <td>{{value[7]}}</td>
          <td><input type="submit" class="Details" value="Details" /></td>
          <td><a href="./games_delete?game_id={{value[0]}}"><input type="submit" class="Delete" value="Delete" /></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="add_game"> <!--Memento Mori-->
      <button type="button" class="accordion">Add Game</button>
      <div class="game_list">
          <form action="./games" method="POST">
            <label>Season: <input type="text" name="season" placeholder="2012, 2013 etc." autocomplete="off"/></label>
            <label>Game Round: <input type="text" name="game_round" autocomplete="off"/></label>
            <label>Date: <input type="text" name="date" placeholder="yyyy-mm-dd" autocomplete="off"/></label>
            <label>Home Club Name: <input type="text" name="home_club_name" required autocomplete="off"/></label>
            <label>Away Club Name: <input type="text" name="away_club_name" required autocomplete="off"/></label>
            <label>Home Club Goals: <input type="text" name="home_club_goals" autocomplete="off"/></label>
            <label>Away Club Goals: <input type="text" name="away_club_goals" autocomplete="off"/></label>
            <label>Home Club Position: <input type="text" name="home_club_position" autocomplete="off"/></label>
            <label>Away Club Position: <input type="text" name="away_club_position" autocomplete="off"/></label>
            <label>Home Club Manager: <input type="text" name="home_club_manager" autocomplete="off"/></label>
            <label>Away Club Manager: <input type="text" name="away_club_manager" autocomplete="off"/></label>
            <label>Stadium: <input type="text" name="stadium" autocomplete="off"/></label>
            <label>Attendance: <input type="text" name="attendance" autocomplete="off"/></label>
            <label>Referee: <input type="text" name="referee" autocomplete="off"/></label>
            <label>Home Club Formation: <input type="text" name="home_club_formation" placeholder="4-2-3-1, 4-3-3 Atttacking etc." autocomplete="off"/></label>
            <label>Away Club Formation: <input type="text" name="away_club_formation" placeholder="4-2-3-1, 4-3-3 Atttacking etc." autocomplete="off"/></label>
            <label>Competition Type: <input type="text" name="competition_type" autocomplete="off"/></label>
            <label>Competition ID: <input type="text" name="competition_id" autocomplete="off"/></label>
            <input type="submit" value="Add">
          </form>
      </div>
    </div>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }

    </script>

{% endblock %}
