<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbalmania - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

<div class="top_bar">
    <header>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./competitions">Competitions</a></li>
            <li><a href="./player">Player</a></li>
            <li><a href="./games">Games</a></li>
        </ul>
    </nav>
    </header>
</div>

{% block content %}{% endblock %}  



</body>
</html>
